<div>
    <p>home works!</p>  
    <a [routerLink]="['/loginAlumno']" >
        <button alt="ALUMNOS">
            <i>A</i>
            <i>L</i>
            <i>U</i>
            <i>M</i>
            <i>M</i>
            <i>O</i>
            <i>S</i>
        </button>
    </a>

    <a [routerLink]="['/loginServicios']" >
        <button alt="SERVICIOS CONTABLES">
            <i>S</i>
            <i>E</i>
            <i>R</i>
            <i>V</i>
            <i>I</i>
            <i>C</i>
            <i>I</i>
            <i>O</i>
            <i>S</i>
            <i> </i>
            <i>C</i>
            <i>O</i>
            <i>N</i>
            <i>T</i>
            <i>A</i>
            <i>B</i>
            <i>L</i>
            <i>E</i>
            <i>S</i>
        </button>
    </a>
</div>
