<body>
    <form class="form" id="loginForm">
        <p class="form-title">Ingresa a su Perfil</p>
        <div class="input-container">
            <input type="text" placeholder="Ingresa tu usuario" id="usuario" required>
            <span id="usuarioError"></span>
        </div>
        <div class="input-container">
            <input type="email" placeholder="Ingresa tu Contraseña" id="contraseña" required>
            <span id="contraseñaError"></span>
        </div>
        <button type="submit" class="submit">Iniciar Sesión</button>
        <div class="signup-link">
            ¿No tienes cuenta? <a href="#">Regístrate aquí</a>
        </div>
    </form>    
</body>