<body>
    <form class="form" id="loginForm">
        <p class="form-title">Ingresa a tu Cuenta</p>
        <div class="input-container">
            <input type="text" placeholder="Ingresa tu matrícula" id="matricula" required>
            <span id="matriculaError"></span>
        </div>
        <div class="input-container">
            <input type="email" placeholder="Ingresa tu correo" id="correo" required>
            <span id="correoError"></span>
        </div>
        <button type="submit" class="submit" [routerLink]="['/portalAlumno']" >Iniciar Sesión</button>
        <div class="signup-link">
            ¿No tienes cuenta?
        </div>
    </form>    
</body>

<!-- <head>
    <title>BIENVENIDO AL PORTAL DE ALLUMNO</title>
</head>
<body>
    <div class="container-form">
        <div class="informatio">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Para iniciar sesion, registrate con tu matricula y correo 
                    Electronico</p>
                <input type="button" value="Iniciar Sesión">

            </div>
            <div class="form-information">
                <div class="form-information-childs">
                    <h2>Crea una cuenta</h2>
                    <div class="icon">
                     <i class='bx  bxl-microsoft-teams'  ></i> 
                    </div>
                    <p>Utiliza tu cuenta institucional</p>
                    <form>
                        <label>
                            <i class="bx bx-user"></i>
                            <input type="" placeholder="Ingresa tu matricula">
                        </label>
                        <label>
                            <i class="bx bx-envelope"></i>
                            <input type="email" placeholder="Ingresa tu Correo Institucional">
                        </label>
                        <label>
                            <i class="bx bx-lock"></i>
                            <input type="password" placeholder="Ingresa tu contraseña">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body> -->